/* основной цвет #212121 */
/* вторичный цвет #757575 */
/* акцент  #2196F3 */
/* вторичный цвет фона #F5F4FA */
/* цвет фона подвала #2F303A */
:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --acent-color: #2196f3;
  --main-bg-color: #ffffff;
}

.page {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}
/* Logo */
.logo {
}
.logo-blue {
  color: var(--acent-color);
}
.logo-black {
  color: var(--main-text-color);
}
.logo-white {
  color: var(--main-bg-color);
}
/* navigation */
.list {
  list-style: none;
}
.site-nav .link {
  color: var(--main-text-color);
}
.site-nav .link.current {
  color: var(--acent-color);
}

.contact-nav .link {
  color: var(--secondary-text-color);
}
.header .link:hover,
.header .link:focus {
  color: var(--acent-color);
}

/* Hero */
.hero-title {
}
/* Section */
.section-title {
  color: var(--main-text-color);
}
/* Наши фишки */
.benefits-text {
  color: var(--secondary-text-color);
}
/* Наша команда */
.bg {
  background-color: #f5f4fa;
}
.team-text {
  color: var(--secondary-text-color);
}
/* Постоянные клиенты */

/* Button */
.button {
  background-color: var(--acent-color);
  color: #ffffff;
}
/* Footer */
.foot-style {
  background-color: #2f303a;
  color: #ffffff;
}
.foot-style .link {
  color: rgba(255, 255, 255, 0.6);
}

/* Styles Portfolio */
/* menu-portfolio */
.menu-nav .menu-title {
  color: var(--main-text-color);
}
.menu-title:hover,
.menu-title:focus {
  color: var(--acent-color);
}
/* Портфолио продуктов */
.work-text {
  color: var(--secondary-text-color);
}
